*{
    box-sizing: border-box;
}
.welcome_perarent_container{
    margin-bottom: 50px;
}
.container{
    max-width: 1250px;;
    margin: 0 auto;
}
a{
    color: #000000FF;
    text-decoration: none;
}
a:hover{
    color: #504f4f;
}

.title{
    font-size: 4rem;
    text-align: center;
    font-style: italic;
}
img{
    width: 100%;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}

.sub_title{
    font-size: 2.4rem;
    text-align: center;

}
ul{
    border-left: 4px solid red;
}
li {
    font-size: 1.2rem;
    list-style: none;
    line-height: 2rem;
    font-style: italic;
    font-weight: bold;

}